body{
  

    font-weight: 300;
    line-height: 1.7 ;
    color: #fff !important;
  
   
}
.channel-name{
    font-size: 1.9rem;
    color: #ffff;
    font-weight: 400;
}
.text-secondary-2{
    font-size: 1.5rem;
    color: #aaaaaa;
    font-weight: 400;
}